
.chapter a {
    color: red;
    padding-top: 30px;
}

.chapter {
    color: greenyellow
    padding-top: 30px;
}

h2{
    font-style: italic;
}

h4{
    color: orange;
}

.lesson{
    color: yellowgreen;

}

.lesson dl{
    color: magenta;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;

}

.test-class {
    color: brown;
    text-decoration: underline;
}

.test2-class {
    color:darkcyan;
    text-decoration: underline;
}